<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <base href="/"><link rel="stylesheet" th:href="@{~/css/style.css}"></base>
</head>
<body>
<div class="container">
    <div class="keep-in-center">
        <div class="col-md-5">
            <div class="card">
                <h2 class="card-title text-center">Login</h2>
                <div class="card-body py-md-4">
                    <form _lpchecked="1" method="post" action="/login" th:action="@{/login}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <a ></a>
                    </form>
                    <a href="/register">Create an account</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>